body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  width: 85vw;
  height: 100vh;
  display: block;
}

.row {
  display: flex;
}

.column {
  width: 15vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #EEE;
}

.brush {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 20px;
  cursor: pointer;
}

.brush.active {
  border: 1px solid #000;
}

.label {
  margin-top: 2px;
  margin-left: 30px;
}

.inputs {
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: 0 0 5px 0;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.button.disabled {
  border: 1px solid #999;
  color: #999;
  cursor: not-allowed;
}

.button:hover:not(.disabled), .button:active:not(.disabled) {
  border: 1px solid #666;
  color: #666;
}

.skyscrapers {
  background-color: rgba(150, 150, 150, 0.5);
}

.residential {
  background-color: rgba(252, 13, 27, 0.5);
}

.commercial {
  background-color: rgba(127, 15, 126, 0.5);
}

.water {
  background-color: rgba(103, 159, 198, 0.5);
}

.parks {
  background-color: rgba(15, 127, 18, 0.5);
}
